* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    p {
        font-size: 0.813rem;
    }
}
body {
    height: 100%;
    font-family: "Barlow Semi Condensed";
    background-color: hsl(0, 0%, 81%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent {
    margin: 2rem;
    display: grid;
    grid-template-columns: auto;
    background-color: none;

    section {
        border-style: none;
        border-radius: .5rem;
        padding: 2rem;

        .header {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            img {
                margin-right: 1rem;
                border-radius: 50%;
                width: 2rem;
            }

            .header-information {
                .name {
                    font-weight: 500;
                }
            }
        }
        h1 {
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }
    }
    .box1, .box2, .box3, .box4, .box5 {
        box-shadow: 0px 1px 10px -2px hsl(224, 10%, 45%);
    }
    .box1 {
        background-color: hsl(263, 55%, 52%);
        max-width: 16rem;
        margin-top: 2rem;
        margin-bottom: 2rem;

        h1, p {
            color: hsl(214, 17%, 92%);
        }
        .id {
            color: hsl(0, 0%, 81%);
        }
        img {
            border-style: solid;
            border-width: .1rem;
            border-color: hsl(264, 82%, 80%);
        }
    }
    .box2 {
        background-color: hsl(217, 19%, 35%);
        max-width: 16rem;
        margin-bottom: 2rem;

        h1, p {
            color: hsl(214, 17%, 92%);
        }
        .id {
            color: hsl(0, 0%, 81%);
        }
    }
    .box3 {
        background-color: hsl(0, 0%, 100%);
        max-width: 16rem;
        margin-bottom: 2rem;

        h1, p, .id {
            color: hsl(224, 10%, 45%);
        }
    }
    .box4 {
        background-color: hsl(219, 29%, 14%);
        max-width: 16rem;
        margin-bottom: 2rem;

        img {
            border-style: solid;
            border-width: .1rem;
            border-color: hsl(263, 55%, 52%);
        }
        h1, p, .id {
            color: hsl(0, 0%, 81%);
        }
    }
    .box5 {
        background-color: hsl(0, 0%, 100%);
        max-width: 16rem;
        margin-bottom: 2rem;
    }
    h1, p {
            color: hsl(217, 19%, 35%);
    }
    .id {
        color: hsl(224, 10%, 45%);
    }
}
@media (min-width: 87.5rem) {
    body {
        height: 100vh;
    }
    .parent {
        display: flex;

        .special-parent-container {
            display: flex;
            flex-direction: column;

            .special-child-container-top {
                display: flex;
            }
            .special-child-container-bottom {
                display: flex;
            }
        }

        .box1, .box2, .box3, .box4, .box5 {
            margin: 1rem;
        }
        .box1, .box4 {
            max-width: 28rem;
        }
        .box2, .box3 {
            max-width: 13.7rem;
        }
        .box1 {
            background-image: url("images/bg-pattern-quotation.svg");
            background-repeat: no-repeat;
            background-position: 80% 0%;
        }
    }
}