* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    p {
        font-size: 0.813rem;
    }
}
body {
    font-family: "Barlow Semi Condensed";
    background-color: hsl(0, 0%, 81%);
}
.parent {
    margin: 2rem;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 2rem;
    background-color: none;

    section {
        border-style: none;
        border-radius: .5rem;
        padding: 2rem;

        .header {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            img {
                margin-right: 1rem;
                border-radius: 50%;
                width: 2rem;
            }

            .header-information {
                .name {
                    font-weight: 500;
                }
            }
        }
        h1 {
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }
    }
    .box1 {
        background-color: hsl(263, 55%, 52%);
        max-width: 28rem;

        h1, p {
            color: hsl(214, 17%, 92%);
        }
        .id {
            color: hsl(0, 0%, 81%);
        }
        img {
            border-style: solid;
            border-width: .1rem;
            border-color: hsl(264, 82%, 80%);
        }
    }
    .box2 {
        background-color: hsl(217, 19%, 35%);
        max-width: 19.458rem;

        h1, p {
            color: hsl(214, 17%, 92%);
        }
        .id {
            color: hsl(0, 0%, 81%);
        }
    }
    .box3 {
        background-color: hsl(0, 0%, 100%);
        max-width: 19.458rem;

        h1, p, .id {
            color: hsl(224, 10%, 45%);
        }
    }
    .box4 {
        background-color: hsl(219, 29%, 14%);
        max-width: 28rem;

        img {
            border-style: solid;
            border-width: .1rem;
            border-color: hsl(263, 55%, 52%);
        }
        h1, p, .id {
            color: hsl(0, 0%, 81%);
        }
    }
    .box5 {
        background-color: hsl(0, 0%, 100%);
    }
    h1, p {
            color: hsl(217, 19%, 35%);
    }
    .id {
        color: hsl(224, 10%, 45%);
    }
}