* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    p {
        font-size: 0.813rem;
    }
}
body {
    font-family: "Barlow Semi Condensed";
    background-color: hsl(0, 0%, 81%);
}
.parent {
    margin: 2rem;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 2rem;
    background-color: none;

    section {
        border-style: none;
        border-radius: .5rem;
        padding: 2rem;

        .header {
            margin-bottom: 1rem;
        }
        h1 {
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }
    }
    .box1 {
            background-color: hsl(263, 55%, 52%);

            h1, p {
                color: hsl(214, 17%, 92%);
            }
    }
    .box2 {
        background-color: hsl(217, 19%, 35%);

        h1, p {
                color: hsl(214, 17%, 92%);
        }
    }
    .box3 {
        background-color: hsl(0, 0%, 100%);
    }
    .box4 {
        background-color: hsl(219, 29%, 14%);
    }
    .box5 {
        background-color: hsl(0, 0%, 100%);
    }
}